@model PaperMID.Models.ProductoModel
<div class="col-md-4">
    <div class="form-group">
        <label>Tipo de Producto</label>
        @Html.DropDownListFor(x => x.IdTipoProducto1, new SelectList(Model.TiposProducto, "IdTipoProducto", "TipoProducto"), new { @class = "form-control" })
    </div>
</div>