
@{
    ViewBag.Title = "Contacto";
    Layout = "~/Views/Master/Publico.cshtml";
}
<br />
<br />
<div class="parallax">
    <img src="../../../Style/img/Contactanos.png" style="width:500px; height:200px;" class="parallax" />
</div>
<div>
    <div class="container">
        <div class="card mb-5 wow fadeInUp" data-wow-delay=".4s">
            <div class="card-body p-5">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="md-form">
                                    <asp:TextBox ID="txt_nombre" CssClass="form-control" runat="server"></asp:TextBox>
                                    <label for="name">Nombre</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="md-form">
                                    <input class="form-control" id="email" type="text" name="_replyto" required="required" />
                                    <label for="email">Correo Electrónico</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form">
                                    <input class="form-control" id="subject" type="text" name="subject" required="required" />
                                    <label for="subject">Asunto</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="md-form">
                                    <textarea class="md-textarea" id="message" name="message" required="required"></textarea>
                                    <label for="message">Mensaje</label>
                                </div>
                            </div>
                        </div>
                        <div class="center-on-small-only mb-4">
                            <button class="btn acento ml-0" type="submit"><i class="fa fa-paper-plane-o mr-2"></i> Enviar</button>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-unstyled text-center">
                            <li class="mt-4">
                                <i class="fa fa-map-marker indigo-text fa-2x"></i>
                                <p class="mt-2">Calle 23a #332 x 18 y 20, San Jose Vergel, Mérida, Yúcatan México</p>
                            </li>
                            <li class="mt-4">
                                <i class="fa fa-phone acentotext indigo-text fa-2x"></i>
                                <p class="mt-2">+52 999-145-02-12</p>
                            </li>
                            <li class="mt-4">
                                <i class="fa fa-envelope acentotext indigo-text fa-2x"></i>
                                <p class="mt-2">ventas@papeleriamerida.com.mx</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


